LOGGING_DIR=logs
LOGGING_DAYS_TO_KEEP=10

MAIL_HOST=smtp.yourprovider.com
MAIL_USERNAME=someusername
MAIL_PASSWORD=...
MAIL_FROM=reports@yourdomain.com
# One or more recipients, separated by commas
MAIL_TO=you@yourdomain.com,colleague@yourdomain.com
